.app {
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .product-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .btn-form {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;

        form {
            max-width: 330px;
            padding: 1rem;


            .form-floating {
                margin-block: 15px;
            }

            span {
                font-size: 12px;
                text-align: center;
            }
        }
    }

    .register {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;

        form {
            max-width: 330px;
            padding: 1rem;


            .form-floating {
                margin-block: 15px;
            }

            span {
                font-size: 12px;
                text-align: center;
            }
        }
    }

    .detail {

        input {
            max-width: 3rem
        }

    }

    .cart {

        padding-top: 5rem;

        .noItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 35rem;

            i {
                font-size: 4rem
            }
        }
    }

    .adminPage {
        margin-left: 280px;
        padding-top: 5rem;
    }

    .paymentSuccess {
        padding-top: 5rem;

        .success {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 35rem;

            i {
                font-size: 4rem
            }
        }
    }
}